.categories {
    padding-top: 40px;

    @include vp-767 {
        padding-top: 15px;
    }

    &__content {
    padding-bottom: 20px;

        border-bottom: 1px solid $color-iron;

        @include vp-767 {
            display: flex;
            justify-content: space-between;
        }
    }

    &__list {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        margin-bottom: 40px;

        @include vp-767 {
            margin-bottom: 0;
        }
    }

    &__item {

        @include vp-767 {
            display: none;
        }

        &--all {
            display: none;

            @include vp-767 {
                display: block;
            }
        }
    }

    &__button {
        padding: 8px 16px;
        border: none;
        color: $color-blue-charcoa;
        background-color: $color-ecru-white;
        border-radius: 60px;
        cursor: pointer;
        font-size: 14px;
        line-height: 20px;
        font-weight: 300;

        &--active {
            color: $color-white;
            background-color: $color-blue-charcoa;
        }

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__button-wrapper {
        display: flex;
        gap: 30px;

        @include vp-767 {
            gap: 20px;
        }
    }

    &__layout-button {
        display: flex;
        gap: 10px;
        border: none;
        align-items: center;
        background: none;
        color: $color-mischka;
        font-size: 18px;
        line-height: 26px;
        cursor: pointer;
        justify-content: space-between;
        padding: 0;

        &--active {
            color: $color-blue-charcoa;
        }
    }

    &__layout-button-text {
        @include vp-767 {
            display: none;
        }
    }
}