.news {
    &__list {
        display: grid;
        grid-template-columns: 1fr;
        list-style-type: none;
        padding: 0;
        margin: 0;

        &--grid {
            background: lime;
        }
    }
}

@include vp-1023 {
    gap: 30px;
}

@include vp-767 {
    grid-template-columns: 1fr;
    gap: 10px;
}

&__item {
    border-bottom: 1px solid $color-iron;

    &:last-child {
        border-bottom: none;
    }
}


}