.news-card {
    padding: 60px 28px;
    display: flex;
    align-items: flex-start;
    gap: 100px;

    picture {
        flex-grow: 1;
    }

    @include vp-1023 {
        flex-wrap: wrap;
        gap: 30px;

    }

    @include vp-767 {
        padding: 30px 0;
    }

    &__image {
        min-width: 340px;
        height: 220px;

        @include vp-1023 {
            width: 100%;
            height: 220px;
        }

        @include vp-767 {
            width: 100%;
            height: 180px;
            min-width: unset;
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 400px 400px;
        gap: 72px;

        @media screen and (max-width: 1500px) {
            grid-template-columns: 1fr;
            gap: 30px;
        }

        @include vp-1023 {
            gap: 15px;

        }
    }

    &__info {
        display: flex;
        gap: 20px;
        flex-direction: column;
        align-items: flex-start;

        @media screen and (max-width: 1500px) {
            gap: 30px;
        }

        @include vp-1023 {
            gap: 10px;
        }

        @include vp-767 {
            flex-direction: column-reverse;
        }

    }

    &__date-wrapper {
        display: flex;
        flex-direction: column;
        gap: 20px;

        @media screen and (max-width: 1500px) {
            flex-direction: row;
            justify-content: space-between;
            width: 100%;
            align-items: center;

        }

        @include vp-767 {
            gap: 10px;

        }
    }

    &__title {
        margin: 0;
        font-weight: 200;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.02em;
        text-transform: uppercase;
        color: $color-blue-charcoa;

        @include vp-767 {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &__date {
        margin: 0;
        font-weight: 300;
        font-size: 14px;
        line-height: 20px;
        color: $color-mischka;

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
        }
    }

    &__text {
        margin: 0;
        font-weight: 300;
        font-size: 18px;
        line-height: 26px;
        color: $color-blue-charcoa;
        max-height: 260px;
        text-overflow: ellipsis;
        display: block;

        @include vp-767 {
            font-size: 12px;
            line-height: 16px;
            max-height: 128px;
        }
    }


    // CARD STYLES FOR GRID LAYOUT

    &--grid {
        padding: 100px 40px 40px;
        position: relative;
        height: 100%;
        gap: 0;
        align-items: flex-end;
        flex-direction: row-reverse;
        background-size: cover;

        @include vp-767 {
            padding: 50px 20px 20px;
        }

        .categories__button {
            position: absolute;
            top: 40px;
            left: 40px;

            @include vp-767 {
                top: 20px;
                left: 20px;
            }
        }

        .news-card__image {
            display: none;
        }

        .news-card__content {
            grid-template-columns: 1fr;
        }

        .news-card__info {
            flex-direction: column-reverse;
        }

        .news-card__title,
        .news-card__date {
            color: $color-white;
        }

        .news-card__title {
            font-size: 16px;
            line-height: 20px;
        }

        .news-card__text {
            display: none;
        }

        &.news-card--1 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-1-grid.jpg);
        }

        &.news-card--2 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-2-grid.jpg);
        }

        &.news-card--3 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-3-grid.jpg);
        }

        &.news-card--4 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-4-grid.jpg);
        }

        &.news-card--5 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-5-grid.jpg);
        }

        &.news-card--6 {
            background-image: linear-gradient(180deg, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.5) 100%),
                url(../../images/news/img-6-grid.jpg);
        }
    }
}